/*
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

            FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
            */

      /* 4
            MAIN COLOR: #458589
      */
/* html{
      font-size: 62.5%;
} */
html{
      scroll-behavior: smooth;
      font-size: 62.5%;
      overflow-x: hidden;
}
body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    color: #2e2d2d;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }