
@media only screen and (max-width: 1300px) {
  html{
    font-size: 57.5%;
  }
  .text-block{
    margin: 0 auto;
    top: 110px;
    text-align: center;
  }
  .first-button.reservation-first{
      margin-left: 3.2rem;
  }
  .calltoAction-img {
    height: 50vh;
  }
}
@media only screen and (max-width: 1100px) {
  html{
    font-size: 54.5%;
  }
  .text-block{
    top: 80px;
  }
  .calltoAction-img {
    height: 40vh;
  }
}
@media only screen and (max-width: 1020px) {
  html{
    font-size: 51.5%;
  }
  .text-block{
    top: 70px;
  }
  .calltoAction {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 960px) {
  
  .text-block {
    left: 8px;
    top: 63px;
  }
}

@media only screen and (max-width:900px){
    /*Mobile-Button*/
    .btn-mobile-nav{
        display: block;
    }
    .navbar{
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 86px;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* To hide mobile nav */
        opacity: 0;
        /* To make it unaccessible to mouse and keyboard */
        pointer-events: none; 
        /*To hide it from screen readers*/
        visibility: none;

                
    }
    .nav-open .navbar{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name = "close-outline"]{
        display: block;
    }   
    .nav-open .icon-mobile-nav[name = "menu-outline"]{
        display: none;
    }   
    .nav{
        flex-direction: column;
        gap:48px;

        text-align: center;
    }
    .nav a:link,
    .nav a:visited{
        font-size: 18px;
    }
    .navbar{
        z-index: 2;
    }
    .first-article{
        z-index: 1;
    }

        
}

    