
@media only screen and (max-width: 1300px) {
  html{
    font-size: 57.5%;
  }
  .text-block{
    margin: 0 auto;
    top: 100px;
    text-align: center;
  }
  .first-button.reservation-first{
      margin-left: 3.2rem;
  }
  .calltoAction-img {
    height: 50vh;
  }
}
@media only screen and (max-width: 1100px) {
  html{
    font-size: 54.5%;
  }
  .text-block{
    top: 80px;
  }
  .calltoAction-img {
    height: 40vh;
  }
}
@media only screen and (max-width: 1020px) {
  html{
    font-size: 51.5%;
  }
  .text-block{
    top: 70px;
  }
}
@media only screen and (max-width: 960px) {
  
  .text-block {
    left: 8px;
    top: 63px;
  }
}

@media only screen and (max-width:900px){
  html{
    font-size: 49.5%;
  }
    /*Mobile-Button*/
    .btn-mobile-nav{
        display: block;
    }
    .navbar{
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* To hide mobile nav */
        opacity: 0;
        /* To make it unaccessible to mouse and keyboard */
        pointer-events: none; 
        /*To hide it from screen readers*/
        visibility: none;

                
    }
    .nav-open .navbar{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name = "close-outline"]{
        display: block;
    }   
    .nav-open .icon-mobile-nav[name = "menu-outline"]{
        display: none;
    }   
    .nav{
        flex-direction: column;
        gap:48px;

        text-align: center;
    }
    .nav a:link,
    .nav a:visited{
        font-size: 18px;
    }
    .navbar{
        z-index: 2;
    }
    .first-article{
        z-index: 1;
    }

        
}
@media only screen and (max-width:881px){
  .text-block {
    left: 0px;
    top: 57px;
  }
}
@media only screen and (max-width:841px){
  .text-block {
    left: -11px;
    top: 57px;
  }
  .text-block h2{
    font-size: 3.0rem;
  }
  .text-block p {
    font-size: 2.0rem;
  }
  .first-button.reservation-first {
    margin-left:0.2rem;
  }
}

@media only screen and (max-width:841px){
  .calltoAction-img{
    display: none;
  }
  .logo-name-footer img {
    height: 60%;
  }
}

@media only screen and (max-width:841px){
  .text-block {
    left: -11px;
    top: 57px;
  }
  .text-block h2{
    font-size: 3.0rem;
  }
  .text-block p {
    font-size: 2.0rem;
  }
  .first-button.reservation-first {
    margin-left: 0.2rem;
    font-size: 2.0rem;
  }
}

@media only screen and (max-width:760px){
  .text-block {
    position: static;
    display: block;
    color: #333;
    max-width: 100%;
    width: 60rem;
    height: 30rem;
    margin-top: 2rem;
  }
  .picture{
    display: none;
  }
  .mobile-picture{
    display: block;
    
    height: 40vh;
  }
  .appointment p{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .mobile-picture-div{
    display: flex;
    justify-content: center;
  }
  .more-button{
    background-color: grey;
  }
  .first-flex-services p{
    display: none;
  }
  .second-button{
    margin-top: 3rem;
    font-size: 16px;
  }
}

@media only screen and (max-width:687px){
  .first-flex-services {
    grid-template-areas:
        "estetik implantologji "
        "veneers pedodonci "
        "ortodonci endodonci";
  }
  .picture3{
    display: none;
  }
  .gallery-back{
    grid-template-columns:1fr 1fr;
    grid-template-areas:
        "picture2 picture4 "
        "picture5 picture6 ";
  }
  .calltoAction-text{
    left: 10px; 
    right: 20px;
  }
  .footer-container{
    display: grid;
    gap:2rem
  }
  .logo-name-footer img {
    height: 100%;
    
}
}

@media only screen and (max-width:439px){
  .logo{
    height: 7rem;
  }
  .first-flex-services {
    grid-template-areas:
        "estetik" 
        "implantologji "
        "veneers" 
        "pedodonci "
        "ortodonci" 
        "endodonci";
  }
  .gallery-back{
    grid-template-columns:1fr ;
    grid-template-areas:
    "picture2" 
    "picture4"
    "picture5" 
    "picture6";

    padding: 1rem;

  }
  .calltoAction h2 {
    font-size: 3rem;
  }
  .calltoAction p {
    font-size: 1.4rem;
}
}

@media only screen and (max-width:331px){
  .mobile-picture-div{
    margin-top: 1rem;
  }
}
